.cabecalho{
    width:auto ;
    display:flex ;
    flex-direction:row;

}
.link{
    display: flex;
    flex-direction: row;
}

.cabana{
width: 600px;
height:600px;
}

.cabanaamarela{
    width: 800px;
}