.cabecalho{
    width:auto ;
    display:flex ;
    flex-direction:row;

}
.conteudo{
    width: auto;
    display: flex;
    flex-direction:row ;
}
.link{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cabana{
width: 200px;
height:200px;
}

.cabanaamarela{
    width: 800px;
}